<app-global-error></app-global-error>
<style>
  .input-wrapper {
    display: flex;
    justify-items: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
  }

  .search-input {
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    margin-top: 30px;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid grey;
    border-radius: 10px;
  }
</style>
<div class="max-w-2l container mx-auto pt-5">
  <div class="input-wrapper">
    <input type="text"
           class="search-input"
           placeholder="Filter products"
           [(ngModel)]="term"
    >
  </div>
  <h1 class="text-center mb-2 text-2xl">{{title | titlecase}}</h1>
  <!--  <app-product-->
  <!--[product]="products[0]"-->
  <!--  ></app-product>-->
  <!--  <app-product-->
  <!--    [product]="products[1]"-->
  <!--  ></app-product>-->
  <p *ngIf="loading" class="items-center justify-center text-center text-lg loading">Loading...</p>

  <div *ngIf="products$|async as products">
    <app-product
      *ngFor="let product of products|filterProducts:term;
       let i=index" [product]="product"></app-product>
  </div>
</div>
