<app-global-error></app-global-error>

<div class="=max-w-2l container mx-auto pt-5 ">
  <h1 class="text-center mb-2 text-2xl">{{title | titlecase}}</h1>
  <!--  <app-product-->
  <!--[product]="products[0]"-->
  <!--  ></app-product>-->
  <!--  <app-product-->
  <!--    [product]="products[1]"-->
  <!--  ></app-product>-->
  <p *ngIf="loading" class="items-center justify-center text-center text-lg loading">Loading...</p>

  <app-product *ngFor="let product of products$|async" [product]="product"></app-product>
</div>
